extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='username') username:
      input#username.form-control(type='text', placeholder='username' name='username' required='true' value=(undefined===user ? '' : user.username) )
    div.form-group
      label(for='password') password:
      input#password.form-control(type='password', placeholder='password' name='password' required='true' value=(undefined===user ? '' : user.password) )
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
